* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  color: azure;

}
body  {
  background:rgb(80, 91, 102);  
}
main  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5%;
}
header  {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(0.25turn, #01415c, #556e61, #045801);
  border-style: groove;
  border-color: black;
  border-width: 7px;
}
.title  {
  font-size: 1.5rem;
  text-decoration: underline;
  margin-right: 100px;
}
.link-bar {
  margin-left: 25px;
  margin-right: 25px;
  padding-right: 20px;
  padding-left: 20px;
  position: fixed;
  right: 250px;
  background: linear-gradient(0.25turn, #01415c, #556e61, #045801);
  border-style: ridge;
  border-color: black;
  border-width: 5px;
  opacity: .75;
}
nav ul li{
  display: inline-block;
  padding-left: 10px;
}
nav ul li label {
  text-decoration: none;
  font-size: 1.25rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
#first  {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}
#kaiden {
  width: 50%;
}
#potrait  {
  width: 150%;
  height: auto;
  opacity: .75;
  margin: 15px;
  padding: 15px;
  background-color: blanchedalmond;
  border-style: double;
  border-color: black;
  border-width: 5px;
}
.passage  {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: bold;
}
.project-windows  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 0 0 70%;
}
.bodies {
  flex: 0 1 50%;
}
#bigOne {
  flex: 0 1 100%;
  margin: 10px; 
}
.card {
  flex: 0 1 auto;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.card-head  {
  position: relative;
  bottom: 40px;
  border-style: solid;
  border-color:blanchedalmond;
  border-width: 5px;
  background-color: rgb(6, 92, 173);
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.card:hover,
.card:hover  .card-head  {
  box-shadow: 3px 3px 8px rgb(53, 248, 138);
}
#contact  {
  border-style: solid;
  border-color: black;
  margin: 5px;
  padding: 5px;
  text-align: center;
}
.emailMe  {
  display: inline-block;
}

footer{
  text-align: center;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-top: 18px;
}