* {
  margin:0;
  padding:0;
}
body{
  background: linear-gradient(0.25turn, #004c6d, #bdd3c7, #00c573);
}
header  {
  display: flex;
  justify-content: space-around;
}
nav ul li{
  display: inline-block;
  padding-left: 10px;
}
nav ul{
  border-style: solid;
  border-color:turquoise;

}
nav ul li a {
  text-decoration: none;
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
main  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
}
#kaiden {
  width: 25%;
  height: auto;
  opacity: .75;
  margin: 15px;
  padding: 15px;
  background-color: blanchedalmond;
  border-style: double;
  border-color: black;
  border-width: 5px;
  flex: 0 1 20%;
}
.left-text  {
  flex: 0 1 20%;
}
.title  {
  font-size: 32px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  text-decoration: underline;
}
.project-windows {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  flex: 0 1 60%;
}
.bodies {
  display: flex;
  flex-direction: column;  
  flex: 0 1 50%;
}
.card {
  flex: 1 0 200px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-style: solid;
  border-width: 3px;
}
.card-head  {
  bottom: 15px;
  border-style: solid;
  border-color: blueviolet;
  border-width: 5px;
}
#contact  {
  border-style: solid;
  border-color: black;
  margin: 5px;
  padding: 5px;
  text-align: center;
}
form ul li {
  text-decoration: none;
}
footer{
  text-align: center;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}